---
layout: default
title: Martin Albrecht | Senior Mobile- / Web Developer | Let me build an app for you
permalink: /
---
<div class="row">
    <div class="col-12 mb-3 text-center">
        <img src="assets/images/avatar.jpeg" alt="Avatar image" width="200" class="img-fluid rounded-circle">
    </div>
</div>

<div class="row">
    <div class="col-12 mb-3">
        <div class="text-center">
            <h1>Martin Albrecht</h1>
            <h2 class="text-muted lead">Senior Mobile- / Web Developer</h2>
        </div>
    </div>

    <div class="col-12 mb-3">
        {% if site.data.links %}
        <div class="icon-links text-center">
            <ul class="list-unstyled">
                {% for link in site.data.links %}
                <li>
                    <a class="text-reset" href="{{link.url}}" target="blank" title="{{link.title}}">
                        <i class="{{link.class}}"></i>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>

<div class="row" hidden>
    <div class="col-4 offset-2 text-center">
        <a href="/about">About</a>
    </div>

    <div class="col-4 text-center">
        <a href="#">Projects</a>
    </div>
</div>