{{ define "main" }}
<div class="projects">
    <div class="tabbar top">
        <a href="#apps" class="selected" onClick="toggleSelect(this)">
            Apps
        </a>

        <a href="#libs" onClick="toggleSelect(this)">
            Libraries
        </a>

        <a href="#misc" onClick="toggleSelect(this)">
            Miscellaneous
        </a>
    </div>

    <h1>{{ .Title }}</h1>
    {{ if .Content }}
    <p class="intro">
        {{ .Content }}
    </p>
    {{ end }}

    {{ $projects := slice }}
    {{ range $.Site.Data.projects }}
        {{ $projects = $projects | append .}}
    {{ end }}

    <h1 id="apps">Apps</h1>
    {{ range where $projects "Type" "app" }}
        {{ partial "project.html" . }}
    {{ end }}

    <h1 id="libs">Libraries</h1>
    {{ range where $projects "Type" "lib" }}
        {{ partial "project.html" . }}
    {{ end }}

    <h1 id="misc">Miscellaneous</h1>
    {{ range where $projects "Type" "" }}
        {{ partial "project.html" . }}
    {{ end }}

    <div class="text-center">
        <a class="black-button" href="https://github.com/sanzaru?tab=repositories" target="_blank">
            ... my Github repository for more stuff
        </a>
    </div>
</div>
<script>
    const toggleSelect = (element) => {
        let selected = document.querySelector('.tabbar a.selected')
        if (selected) {
            selected.removeAttribute('class')
        }

        element.setAttribute('class', 'selected')
    }
</script>
{{ end }}