.content {
    max-width: $content-with;
    margin: 0 auto;

    .row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}

.home {
    align-self: center;

    hr {
        border: 0;
        border-top: 1px solid #e8e8e8;
    }
}

.profile-image {
    display: flex;
    justify-content: center;
    width: 100%;

    img {
        border-radius: 50%;
        max-width: 200px;
    }
}

.intro {
    width: 100%;
    margin-top: 10px;

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }
}

a {
    &.button-black {
        @include button-black();
    }
}