.content {
    max-width: $content-with;
    margin: 0 auto;

    .row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}

.home {
    align-self: center;

    hr {
        border: 0;
        border-top: 1px solid #e8e8e8;
    }
}

.profile-image {
    display: flex;
    justify-content: center;
    width: 100%;

    img {
        border-radius: 50%;
        max-width: 200px;
    }
}

.intro {
    width: 100%;
    margin-top: 10px;

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }
}

.icon-links {
    margin: 20px 0;

    ul {
        list-style: none;
        padding: 0;
        margin: 10px 0;

        li {
            display: inline-block;
            font-size: 1.8rem;
            padding: 0 1rem;
            transition: text-shadow 0.2s ease-in-out;
            color: initial;

            i {
                color: initial;
            }

            &:hover {
                text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
            }
        }
    }
}