.tooltip {
    position: relative;
    display: inline-block;

    &:hover .tooltiptext {
        visibility: visible;
    }

    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        font-size: 0.9rem;

        position: absolute;
        z-index: 1;
        top: 120%;
        left: 50%;
        margin-left: -60px;

        &::after {
            content: " ";
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent black transparent;
          }
    }
}