{{ define "main" }}
<div class="content about">
    <img src="/images/avatar.jpeg">

    <p>
        <span>Hi,</span> I'm Martin, a passionate iOS developer from Berlin, Germany, with 20+ years of experience in software
        development. Currently, I'm working in the health industry as a sole developer for an iOS app.
    </p>
    <p>
        It all began on my Performa 5200 with REALBasic and soon C, when 19 were still the first two digits of the year.
        With my passion for the internet, I soon began creating small web projects for friends and schools before I
        started my professional training as IT specialist at a security company. From there, I started working in various
        fields as a web developer when PHP was still a thing people did. I came in touch with various aspects of the
        industry, including editorial, e-commerce, SaaS, and radio network pages. I've experienced almost everything
        the web has to offer.
    </p>

    <p>
        Then the iPhone was invented and changed not only society, but also my interests a lot. After some years of
        studying iOS development and the Swift programming language I started working as a mobile developer for the
        iOS platform.
    </p>

    <p>
        In private, I worked on various projects, from building my own robot based on a Raspberry Pi and Arduino
        (with control software written in C) to creating and writing my own smart home appliance in Go.
        This was long before smart homes had any standards and were a common concept.
    </p>

    <p>
        As my love for the Swift language grew, I started creating all sorts of things in this language. From normal
        apps like my Image to base64 image converter or a simple Tic Tac Toe game to some more unusual software, such as
        my IBM-1401 emulator written in pure vanilla Swift.
        My most recent project is RequestLab, a multi-platform API development tool written in SwiftUI for phones,
        tablets, Macs, and the Vision Pro (see my <a href="/projects">Projects</a> page for more).
    </p>
</div>
{{ end }}