<div class="row">
    <div class="icon-links text-center">
        <ul>
            <li class="tooltip">
                <a href="https://github.com/sanzaru" target="_blank">
                    <i class="fa-brands fa-github"></i> Github
                </a>
                <span class="tooltiptext">My Github repositories</span>
            </li>
            <li class="tooltip">
                <a href="https://apps.apple.com/us/developer/martin-albrecht/id1479205686" target="_blank">
                    <i class="fa-brands fa-apple"></i> App Store
                </a>
                <span class="tooltiptext">My apps in the App Store</span>
            </li>
            <li class="tooltip">
                <a href="https://medium.com/@sanzaru84" target="_blank">
                    <i class="fa-brands fa-medium-m"></i> Blog
                </a>
                <span class="tooltiptext">Read my blog</span>
            </li>
            <li class="tooltip">
                <a href="mailto:martin.albrecht@seriousmonkey.de" target="_blank">
                    <i class="fa-solid fa-envelope"></i> Contact
                </a>
                <span class="tooltiptext">Get in touch</span>
            </li>
        </ul>
    </div>
</div>